table, th, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px

}
 td{
    background-color: beige;}
 .l1{
    background-color: light;}
 
    .Roman{
    list-style-type:upper-roman;}
 .Alpha{
    list-style-type: lower-alpha;
 }
 .deci{list-style-type: decimal;}
 .circle{list-style-type: circle;}
 .disc{list-style-type: disc;}

 .blank{border-collapse: collapse;}













